<header>
  <div class="flex_div sb border_bottom">
    <div class="header-box">
      <h1>Music App</h1>
    </div>

    <div class='header-box flex_div middle sb'>
      <% if logged_in? %>
        <%= button_to "logout", session_url, method: :delete %>
      <% else %>
        <!-- login -->
        <%= button_to "login", new_session_url, method: :get %>

        <!-- sign up -->
        <%= button_to "sign up", new_user_url, method: :get %>
      <% end %>
    </div>
  </div>
  <div class="flex_div sa">
    <span>Current User: <%= current_user ? current_user.email : "none" %></span>
  </div>

  <div class="flex_div sa">
    <%= button_to "New Band", new_band_url, method: :get %>
  </div>
</header>
